.App {
  text-align: center;
}
.list{
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  
}
.item{
  background-color:whitesmoke;
  text-align: center;
}
.userdata {
  margin-left: 0px;
  width: 300px;
}
.dfriends{
  min-width: 400px;
  background-color: rgb(158, 192, 255);
}
.ffriends{
  min-width: 400px;
  background-color: rgb(226, 253, 173);
}
.sfriends{
  min-width: 400px;
  background-color: rgb(255, 182, 169);
}
.userchange{
  margin-left: 0px;
  width: 300px;
  background-color: lightslategray;
}
.button{
  width: 150px;
  height: 35px;
  border-color: none;
}
.button:focus {  
  width: 150px;
  height: 35px;
}